html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

html.dark {
  background: #121212;
}

/* Win Message Animation */
.shake {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both infinite;
  transform: translate3d(0, 0, 0);
}
@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

/* Puzzle Tiles  Animation  */
.tile {
  backface-visibility: hidden;
  z-index: 1;
}
.tile-move {
  transition: all 600ms ease-in-out 50ms;
}
/* appearing */
.tile-enter-active {
  transition: all 400ms ease-out;
}
/* disappearing */
.tile-leave-active {
  transition: all 200ms ease-in;
  position: absolute;
  z-index: 0;
}
/* appear at / disappear to */
.tile-enter,
.tile-leave-to {
  opacity: 0;
}